@value buttonContent from '../button/style.module.css';
@value labelsWrapper from '../button/style.module.css';

.console {
  background-color: var(--console-color);
  width: 300px;
  height: 600px;
  border-radius: 20px;
  position: relative;
  left: 50%;
  top: 50%;
  padding-top: 20px;
  transform: translate(-50%, -50%);
  transform-origin: center center;
}

.displayContainer {
  width: 150px;
  height: 200px;
  border: 10px solid;
  border-top-color: var(--console-strip1-color);
  border-right-color: var(--console-strip1-color);
  border-bottom-color: var(--console-strip2-color);
  border-left-color: var(--console-strip2-color);
  border-spacing: 10px;
  margin: 0 auto;
  padding: 15px 20px;
  background-color: var(--console-color);
  position: relative;
}

.displayContainer::before,
.displayContainer::after {
  content: "";
  width: 25px;
  height: 10px;
  background-color: var(--console-color);
  position: absolute;
  transform: rotate(45deg);
}
.displayContainer::before {
  left: -16px;
  top: -9px;
}
.displayContainer::after {
  bottom: -7px;
  right: -15px;
}

.division {
  height: 80px;
  background-color: var(--console-color);
  margin-top: 10px;
  right: 0;
  left: 0;
  transform: translate(-5px, 0);
  width: 310px;
  border-radius: 32px;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttonsContainer .row:nth-child(2) {
  justify-content: unset;
}

.buttonsContainer .row:nth-child(2) .buttonContent:first-child {
  flex-grow: 0.525;
}

.buttonsContainer .row:nth-child(3) {
  padding-top: 10px;
  justify-content: unset;
}

.buttonsContainer .row:nth-child(3) .buttonContent:first-child {
  flex-grow: 0.96;
}

.buttonsContainer .row:nth-child(3) .buttonContent:last-child {
  position: absolute;
  right: 95px;
}
.buttonsContainer .row:nth-child(3) .buttonContent .labelsWrapper {
  bottom: -15px;
}

.row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.label {
  text-align: center;
  margin-top: 20px;
}
.label img {
  width: 100px;
  transform: rotate(-20deg);
}

.stripe {
  position: absolute;
  background-color: white;
  height: 3px;
  width: 90%;
  left: 0%;
  right: 0%;
  bottom: 20px;
  transform: translate(6%);
  border-radius: 5px;
}
