.console {
  background-color: var(--console-color);
  width: 360px;
  height: 840px;
  border-radius: 20px;
  position: relative;
  padding-top: 20px;
  margin: 0 auto;
}

.displayContainer {
  width: 201px;
  height: 245px;
  border: 10px solid;
  border-top-color: var(--console-strip1-color);
  border-right-color: var(--console-strip1-color);
  border-bottom-color: var(--console-strip2-color);
  border-left-color: var(--console-strip2-color);
  border-spacing: 10px;
  margin: 0 auto;
  padding: 20px 15px;
  background-color: var(--console-color);
  position: relative;
  display: flex;
}

.displayContainer::before,
.displayContainer::after {
  content: '';
  width: 25px;
  height: 10px;
  background-color: var(--console-color);
  position: absolute;
  transform: rotate(45deg);
}
.displayContainer::before {
  left: -16px;
  top: -9px;
}
.displayContainer::after {
  bottom: -7px;
  right: -15px;
}

.division {
  height: 100px;
  background-color: var(--console-color);
  margin-top: 10px;
  right: 0;
  left: 0;
  transform: translate(-5px, 0);
  width: 370px;
  border-radius: 32px;
}

.label {
  text-align: center;
  margin-top: 20px;
}
.label img {
  width: 100px;
  transform: rotate(-20deg);
}

.stripe {
  position: absolute;
  background-color: white;
  height: 3px;
  width: 90%;
  left: 0%;
  right: 0%;
  bottom: 25px;
  transform: translate(6%);
  border-radius: 5px;
}
.stripe img {
  position: absolute;
  width: 50px;
  right: 40px;
  top: -22px;
  background-color: var(--console-color);
}
