.tile {
  box-sizing: border-box;
  border: 1px solid var(--display-tile-color);
  margin: 1px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 10px;
}

.fill {
  box-sizing: border-box;
  width: 6px;
  height: 6px;
  background-color: var(--display-tile-color);
}

.inactive {
  border-color: var(--display-tile-inactive-color);
}
.inactive .fill {
  background-color: var(--display-tile-inactive-color);
}
