.display {
  width: 100%;
  height: 100%;
  background-color: var(--display-color);
  display: flex;
  padding: 5px;
}

.left {
  display: flex;
  flex-direction: column;
  flex: 0.65 0 65%;
}
.right {
  display: flex;
  flex: 0.35 0 35%;
  flex-direction: column;
  align-items: center;
}

.scoreAndSound {
  height: 30px;
  display: flex;
}

.soundConfig {
  font-size: 29px;
  line-height: 29px;
}

.off {
  color: var(--display-tile-inactive-color);
}

.score {
  margin-left: 17px;
  font-size: 29px;
  letter-spacing: 2px;
}

.status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.status span {
  margin: 5px;
}

.canvas {
  height: 210px;
  border: 1px solid var(--display-tile-color);
}

.preview {
  width: 50px;
  height: 50px;
}
