.display {
  width: 100%;
  height: 100%;
  background-color: var(--display-color);
  display: flex;
  padding: 5px;
}

.left {
  display: flex;
  flex-direction: column;
  flex: 0.65 0 65%;
  padding-top: 5px;
}
.right {
  display: flex;
  flex: 0.35 0 35%;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
}

.scoreAndSound {
  flex: 0.15 0 12%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.soundConfig {
  font-size: 25px;
}

.on {
}

.off {
  color: var(--display-tile-inactive-color);
}

.score {
  margin-left: 17px;
  font-size: 29px;
}

.status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.status span {
  margin: 5px;
}

.canvas {
  flex: 0.85 0 88%;
  border: 1px solid var(--display-tile-color);
}

.preview {
  width: 50px;
  height: 50px;
}
