html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
:global(:root) {
  --console-color: #0d1316;
  --console-strip1-color: #0b3d31;
  --console-strip2-color: #a08e0d;
  --display-color: #6d785c;
  --display-tile-color: #000;
  --display-tile-inactive-color: #60705b;
}
